<div *ngIf="wait" class="register">

  <mat-card>
    <br>
    <mat-card-title>Créer - Rejoindre</mat-card-title> <br>
    <mat-card-content>


      <div [hidden]="choixCreerRencontre || choixRejoindre">
        <mat-form-field [hidden]="choixCreerRencontre">
          <input type="text" matInput placeholder="Pseudo" #pseudo>
        </mat-form-field>
      </div>


      <div class="choix" *ngIf="!choixCreerRencontre && !choixRejoindre">
        <button (click)="choixCreerRencontre=true;" mat-raised-button color="primary">
          Créer jeu
        </button> &nbsp;
        <button mat-raised-button color="primary" (click)="choixRejoindre = true; ngOnInit()">
          Rejoindre jeu
        </button>
      </div>



      <div *ngIf="choixCreerRencontre" class="nbTours">
        <mat-form-field>
          <input type="text" matInput placeholder="Nombre de tours" [(ngModel)]="nbTours">
        </mat-form-field>

      </div> <br> <br>

      <div *ngIf="wait && creerClick">
        <mat-spinner [diameter]="30"></mat-spinner> <br>
        <b>En attente d'un adversaire..</b>
        <br><br>
      </div>

      <button mat-raised-button color="primary" [disabled]="!pseudo.value || !nbTours"
        (click)="creerRencontre(pseudo.value, nbTours)" *ngIf="choixCreerRencontre">
        Créer un jeu
      </button> &nbsp;


    </mat-card-content>

    <table *ngIf="rencontres && rencontres.length>0 && choixRejoindre" class="jeux">
      <thead>
        <tr>
          <th>id</th>
          <th>Créateur du jeu</th>
          <th>Adversaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rencontre of rencontres; index as i" (click)="rejoindreRencontre(pseudo.value,i+1)">
          <td>{{i+1}}</td>
          <td>{{rencontre.joueurs[0].nom}}</td>
          <td *ngIf="rencontre.joueurs.length === 2">
            {{rencontre.joueurs[1].nom}}
          </td>
          <td *ngIf="rencontre.joueurs.length !== 2">
            Pas d'adversaire pour le moment...
          </td>
        </tr>
      </tbody>
    </table>

  </mat-card>

</div>

<div *ngIf="wait===false" class="game">

  <div class="column">
    <br> <br> <br>
    <h1><u>Jeu Dilèmme du prisonnier</u></h1> <br>
    <br>

    {{joueur1 | json}} <br>
    {{joueur2 | json}} <br>

    adversaireAChoisi : {{adversaireAChoisi}}

    <br>

    <!-- <div *ngIf="rencontre && rencontre.tours">
      {{rencontre.tours | json }}
    </div> -->

    <table class="choice frame">
      <tr>
        <h3>{{getTour()}}</h3>
      </tr>
      <tr>
        <button mat-raised-button color="primary" (click)="action('COOPERER')">
          Cooperer
        </button> &nbsp;
        <button mat-raised-button color="primary" (click)="action('TRAHIR')">
          Trahir
        </button> &nbsp;
        <button mat-raised-button color="primary" (click)="action('ABANDONNER')">
          Abandonner
        </button>
      </tr>
    </table>

    <br>

  </div>

  <div class="column">
    <br> <br> <br>
    <h1><u>Résultats</u></h1>
    <table class="results frame">
      <thead>
        <tr>
          <th>Numéro tour</th>
          <th>Action {{joueur1.nom}}</th>
          <th>Action {{joueur2.nom}}</th>
          <th>Points</th>
          <th>Gagnant</th>
        </tr>
      </thead>
      <tbody *ngIf="rencontre && rencontre.tours">
        <tr *ngFor="let tour of rencontre.tours">
          <td>{{tour.id}}</td>
          <td>{{tour.actionJoueur1}}</td>
          <td>{{tour.actionJoueur2}}</td>
          <td>{{tour.pointsJoueur1 }} - {{tour.pointsJoueur2}}</td>
          <td>{{tour.pointsJoueur1 > tour.pointsJoueur2 ? joueur1.nom: joueur2.nom }}</td>
        </tr>

      </tbody>
    </table>
    <br />


    <div *ngIf="rencontre!==null && rencontre.tours!==null && rencontre.tours.length === parseInt(nbTours)">
      <h2>Gagnant de la rencontre:</h2>
      <h1>{{gagnant()}}</h1>
    </div>



  </div>

</div>